@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSSファイルに追加 */
.custom-datepicker-popover {
  background-color: white; /* 背景色を白に設定 */
  border-radius: 10px; /* 角を丸く */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* シャドウ効果 */
}

.react-datepicker {
  border: none; /* デフォルトの枠を消す */
}

.react-datepicker__header {
  background-color: #3f51b5; /* ヘッダーの背景色に変更 */
  color: white; /* テキスト色を白に設定 */
}

.react-datepicker__day--today {
  font-weight: bold; /* 今日の日付を太字に */
}

.react-datepicker__day:hover {
  background-color: #f0f0f0; /* hover時の背景色 */
}

.react-datepicker__day--selected {
  background-color: #3f51b5; /* 選択した日の背景色 */
  color: white; /* 選択した日のテキスト色 */
}
